<div class="userprofile">
	<% if ( user_id ) { %> 
	<a href="/user/<%= user_id %>"><%= username %> Profile</a>
	<a href="#">Settings</a>
	<a href="/logout">Logout of <%= username %></a>
	<% } else {  %>
	<a href="/login">Login</a>
	<a href="/account">Create Account</a>
	<% } %>
</div>