<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/css/partyline.css">

</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <a href="/search"><img src="/images/partyline_logo_horizontal-03.png"></a>
        </div>
        <%- include('partials/partyMenu') %>
        <div class="join">
            <button type="button">Join A New Party</button>
        </div>
    </div>
    <div class="content">
        <div class="topbar">
            <%- include('partials/userBar') %>
            <div class="search">
                <%- include('partials/searchBar') %>
            </div>
        </div>
        <h2>You requested a resource that was not available.</h2>

</body>
</html>
