<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PartyLine</title>
    <link rel="stylesheet" href="/css/partyline.css">

</head>
<body>
    <div class="accountpage">
        <div class="logo">
            <img src="/images/partyline_logo_horizontal-03.png">
        </div>
        <div class="signUp">
            <h1> Create an account </h1>
            <form id="createAccount" action="/createaccount" method="post">
                <fieldset>
                    <input placeholder="Email" name="name" type="email" tabindex="2" required>
                    <input placeholder="Username" name="name" type="text" tabindex="3" required>
                    <input placeholder="Password" name="password" tabindex="4" required>
                    <input type="submit" value="Create Account">
                </fieldset>
            </form>
            <p> Sign in? </p>
        </div>
    </div>