<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PartyLine</title>
    <link rel="stylesheet" href="/css/partyline.css">

</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <a href="/search"><img src="/images/partyline_logo_horizontal-03.png"></a>
        </div>

        <%- include('partials/partyMenu') %>

        <div class="join">
            <a href="/party">Join A New Party</a>
        </div>
    </div>
    <div class="content">
        <div class="topbar">
            <%- include('partials/userBar') %>
            <div class="search">
               <%- include('partials/searchBar') %>
            </div>
        </div>
        <div class="createParty">  
            <form id="partyCreation" action="/party<%= parent_id ? '/' + parent_id + '/new' : '' %>" method="post">
                <% if ( parent_id ) { %>
				<h3>Create a new Sub Party</h3>
				<% } else { %>
				<h3>Create New Party</h3>
				<% } %>
                <fieldset>
                    <input placeholder="Party Title" name="name" type="text" tabindex="2" required>
                    <textarea placeholder="Party description goes here..." name="description" tabindex="5" required></textarea>
                    <input type="submit" value="Create Party">
                </fieldset>
            </form>
        </div>
        </div>
    </div>
</body>
</html>