<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PartyLine</title>
    <link rel="stylesheet" href="/css/partyline.css">

</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/partyline_logo_horizontal-03.png">
        </div>
        <%- include('partials/partyMenu') %>
        <div class="join">
            <button type="button">Join A New Party</button>
        </div>
    </div>
    <div class="content">
        <div class="topbar">
            <div class="userprofile">
                <a href="#">User 1 Profile</a>
                <a href="#">Settings</a>
                <a href="#">Help</a>
            </div>
            <div class="search">
                <%- include('partials/searchBar') %>
            </div>
        </div>
        <div class="main">
            <div class="sidemenu">
                <h2>Baseball</h2>
                <p>This is a group about baseball</p>
                <ul>
                    <li>#Braves</li>
                    <li>#World Series</li>
                </ul>
            </div>
            <div class="chat">
                <div class="messages">
                    <div class="message"> 
                        <div class="username">User 752</div>
                        <div class="timestamp">11/04/21 10:12am</div>
                        <div class="messageText">Hello People</div>
                    </div>
                    <div class="message"> 
                        <div class="username">User 752</div>
                        <div class="timestamp">11/04/21 10:12am</div>
                        <div class="messageText">Hello People</div>
                    </div>
                    <div class="message"> 
                        <div class="username">User 752</div>
                        <div class="timestamp">11/04/21 10:12am</div>
                        <div class="messageText">Hello People</div>
                    </div>
                    <div class="message"> 
                        <div class="username">User 752</div>
                        <div class="timestamp">11/04/21 10:12am</div>
                        <div class="messageText">Hello People</div>
                    </div>
                    <div class="message"> 
                        <div class="username">User 752</div>
                        <div class="timestamp">11/04/21 10:12am</div>
                        <div class="messageText">Hello People</div>
                    </div>
                </div>
                <br>
                <div class="chatform">
                    <div class="newMessage">
                        <form>
                            <label for="newMessage"></label>
                            <input type="text" id="newMessage" name="newMessage" placeholder="Message Goes Here...">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>