<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PartyLine</title>
    <link rel="stylesheet" href="/css/partyline.css">

</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/partyline_logo_horizontal-03.png">
        </div>
        <div class="groups">
            <ul>
                <li>Baseball</li>
                <li>World Series</li>
                <li>Group Chat 3</li>
                <li>Group Chat 4</li>
                <li>Group Chat 5</li>
                <li>Group Chat 6</li>
                <li>Group Chat 7</li>
                <li>Group Chat 8</li>
            </ul>
        </div>
        <div class="join">
            <a href="/party">Join A New Party</a>
        </div>
    </div>
    <div class="content">
        <div class="topbar">
            <div class="userprofile">
                <a href="#">User 1 Profile</a>
                <a href="#">Settings</a>
                <a href="#">Help</a>
            </div>
            <div class="search">
                <input type="search" id="search" name="search" placeholder="Search for Groups...">
            </div>
        </div>
            <div id="searchpartyContainer">
                <h1>Find A New Party!</h1>
                    <table id="searchParty" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                            <th><span>Party</span></th>
                            <th><span>Members</span></th>
                            <th><span>Description</span></th>
                            <th><span>Join A Party</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td><a href="/food">Food</a></td>
                            <td>6,000</td>
                            <td> Talks about food </td>
                            <td><button class="searchpartyButton">Join Party</button></td>
                            </tr>
                            <tr>
                            <td><a href="/battlestations">Battle Stations</a></td>
                            <td>2,200</td>
                            <td> Let's see your gaming setups </td>
                            <td><button class="searchpartyButton">Join Party</button></td>
                            </tr>   
                            <tr>
                            <td><a href="/videogames">Video Games</a></td>
                            <td>85,500</td>
                            <td> Talks about video games </td>
                            <td id="inParty"> You're Already Partying </td>
                            </tr>
                            <tr>
                            <td><a href="/webdevelopment"> Web Development </a></td>
                            <td>6,000</td>
                            <td> Talks about web development </td>
                            <td><button class="searchpartyButton">Join Party</button></td>
                            </tr>
                            <tr>
                            <td>Animals</td>
                            <td>9,900</td>
                            <td> Talks about animals </td>
                            <td><button class="searchpartyButton">Join Party</button></td>
                            </tr>
                            <tr>
                            <td>Pokemon</td>
                            <td>10,500</td>
                            <td> Talks about pokemon </td>
                            <td><button class="searchpartyButton">Join Party</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>