<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PartyLine</title>
    <link rel="stylesheet" href="/css/partyline.css">

</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/partyline_logo_horizontal-03.png">
        </div>
        <div class="groups">
            <ul>
                <li>Baseball</li>
                <li>World Series</li>
                <li>Group Chat 3</li>
                <li>Group Chat 4</li>
                <li>Group Chat 5</li>
                <li>Group Chat 6</li>
                <li>Group Chat 7</li>
                <li>Group Chat 8</li>
            </ul>
        </div>
        <div class="join">
            <button type="button">Join A New Party</button>
        </div>
    </div>
    <div class="content">
        <div class="topbar">
            <div class="userprofile">
                <a href="#">User 1 Profile</a>
                <a href="#">Settings</a>
                <a href="#">Help</a>
            </div>
            <div class="search">
                <input type="search" id="search" name="search" placeholder="Search for Groups...">
            </div>
        </div>
        <div class="main">
            <div class="sidemenu">
                <h2>Baseball</h2>
                <p>This is a group about baseball</p>
                <ul>
                    <li>#Braves</li>
                    <li>#World Series</li>
                </ul>
            </div>
            <div class="search">
                <form">
                    <label for="seach">Search:</label>
                    <input type="search" id="search" name="search">
                    <input type="submit">
                </form>
            </div>
            <div class="results">
                <div class="partyResults">
                    <h2>Parties</h2>
                </div>
                <div class="messageResults">
                    <h2>Message</h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>