body {
	font-family: sans-serif;
	color:#DBDBDB;
	display: flex;
	flex-direction: row;
	margin: 0px;
}

h2 {
	padding: 40px;
}

.sidebar {
	margin: 0px;
	padding: 0px;
	background-color: #282F39;
	width: 10vw;
	height: 100vh;
}

.content {
	width: 100vw;
}

.main {
	display: flex;
}

.topbar {
	background-color: #333B48;
}

.logo img { 
	height: 100px;
}

.search {
	display: flex;
	justify-content: flex-end;
}

.sidemenu {
	background-color: #3B4555;	
	padding: 0px;
	width: 10vw;
	height: 100vh;
}

.chat {
	background-color: #4E5869;
	height: 100vh;
	width: 80vw;
}

.message {
	background-color: #37404D;
	padding: 0px;
	border: 1px solid;
}

.join {
	margin: 0px;
	padding: 0px;
}

#searchpartyTitle{
	color:#282F39;
	padding: 2rem;
}

th{
	padding-right: 5rem;
	align-items: center;
}

td{
	padding-right: 5rem;
}

.results {
	display: flex;
}

.messageResults {
	color:#282F39;
	padding: 2rem;
	width: 40vw;
}

searchMessage {
	background-color: white;
	border-bottom: 3px solid black;
}