:root { 
	--main: #282F39;
	--sub: #3B4555;
	--sub2: #4E5869;
	--sub3: #333B48;
	--color: #D69549;
}

body {
	font-family: sans-serif;
	color:#DBDBDB;
	display: flex;
	flex-direction: row;
	margin: 0px;
	background-color: #282F39;
}

h2 {
	padding: 20px;
}

a {
	color: #fff;
}

.sidebar {
	margin: 0px;
	padding: 0px;
	background-color: #282F39;
	width: 20vw;
	height: 100vh;
}


.content {
	width: 100vw;
}

.main {
	display: flex;
}

.topbar {
	background-color: #333B48;
    padding-top: 18px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img { 
	height: 100px;
	height: 200px;
    padding-left: 15px;
}

.search {
	display: flex;
	justify-content: flex-end;
	padding-right:20px;
}

.sidemenu {
	background-color: #3B4555;	
	padding: 0px;
	width: 10vw;
	height: 100vh;
}

.chatform {
	margin-top: 14px;
}

.chat {
	background-color: #4E5869;
	height: 100vh;
	width: 75vw;
	display:flex;
	flex-direction: column;
}

.message {
	background-color: #37404D;
	padding: 0px;
	border: 1px solid;
}

.messages{
	overflow-y: auto;
	height: 80vh;
}



.join {
	margin: 0px;
	padding: 0px;
}

#searchpartyTitle{
	color:#282F39;
	padding: 2rem;
}

th{
	padding-right: 5rem;
	align-items: center;
	border-bottom: 2px solid black;
}

td{
	padding-right: 5rem;
}

.results {
	display: flex;
	background-color: var(--sub2);
}
#searchpartyTitle{
	color:white;
}

.messageResults {
	color:white;
	padding: 2rem;
	width: 40vw;

}

.searchMessage {
	background-color:var(--sub2);
	border-bottom: 1px solid var(--main);
	margin: 10px 0;
}

.sheet {
    border: 3px solid #f1f1f1;
    margin: 100px 20px;
    padding: 10px;
}

input[type=text], input[type=password] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.join a, 
button {
    background-color: #04AA6D;
    color: white;
    padding: 10px 0px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	display: inline-block;
	text-align: center;
}

button:hover {
        opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
    
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.cancel_container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


.message:nth-child(even) {
	background-color: var(--sub2);
}
#searchParty tr:nth-child(even){
	background-color: var(--sub);
	color:white;
	}

.accountpage {
	margin: 0 auto;
}

.accountpage label {
	display: inline-block;
	width: 150px;
}

@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}

	.cancelbtn {
		width: 100%;
	}
}

.userprofile{
	overflow:hidden;

}

.userprofile a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 17px;
}

.userprofile a:hover {
	background-color: #ddd;
	color: black;
}
.userprofile a.username {
	background-color: #04AA6D;
	color: white;
}

.userprofile a.username:hover {
	background-color:#343B48;
	color:#04AA6D
}


input {
	height: 30px;
	width: 200px;
}